{% extends "::base8.html.twig" %}
{% block body %}
<!-- CKEditor -->
<script src="{{ asset('bundles/notas/js/plugins/ckeditor/ckeditor.js') }}"></script>
<div class="row-row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-list"></i>Crear Valija</h3>
            </div>
        </div>
        <div class="box-content">
            <form action="{{ path('valija_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            

                    {{ form_errors  (edit_form.fecha) }}
                    {{ form_label  (edit_form.fecha) }}
                    {{ form_widget (edit_form.fecha, { 'attr': {
                        'class':"input-small datepick",}}

                    )}}
                    {{ form_errors  (edit_form.numerodevalija) }}
                    {{ form_label  (edit_form.numerodevalija) }}
                    {{ form_widget (edit_form.numerodevalija) }}
                    
                    {{ form_errors  (edit_form.pdf) }}
                    {{ form_label  (edit_form.pdf) }}
                    {{ form_widget (edit_form.pdf) }}
                    {# Atributos
                    , { 'attr': {
                        'class':"input-block-level",}}
                    ui-spinner ui-widget ui-widget-content ui-corner-all
                    'class':"input-small datepick",
                    ,'date', array('widget' => 'single_text','format' => 'dd/MM/yyyy'
            ))
                    #}


                            
            {{ form_rest(edit_form) }}
            {#{ form_widget(edit_form._token) }#}    
            <div class="span12">
            <br>
                <button class="btn btn-primary"type="submit"><i class="icon-save"></i> Guardar</button>
                <a class="btn btn-inverse" href="{{ path('valija') }}"><i class="icon-reply"></i>
                 Regresar
                </a>
            </br>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}



