<html>  
<head>  
 <style>
 	body{
    font-size: 14px;
    padding-left: 10px;
  	}
  	.contenedor {
  		position: absolute;
  		bottom: -10px;
  	}
  	section{
  		display: block;
  	}
  	h3{
  		margin-top: 2em;
  		text-align: center;
  	}
  	figure{
  		padding-bottom: 1em;
  	}
	p{
        font-family: Arial;
        font-size: 12;
        text-align: left;
    }
	td{
	    font-size: 12px;
	    text-align: left;
    }
    tr{

    }
    .centrado{
    	height: 20px;
    	text-align: center;
    }
    .medio{
    	min-height: 100px;
    }
    .nuevo{
    	border:1px solid black;
    }
    div .gestor{
    	position: fixed;
  		bottom: -10px;
    }
  </style>  
</head>  
<body>
	<figure>
	 	<img src="{{ pdf_image('NotasBundle:logoembajadaes.jpg') }}" width="140" height="85">
	 <figure>
	 <br>
	<p align="center"><strong>HOJA DE REMISIÓN Nº 5-18-A/{{ entity.numero}}-20{{ entity.fecha|date('y')}}</strong></p>
	<p></p>
	<table>
		<tr> 
			<td height="25px" width="100px">PARA</td>
			<td height="25px" width="20px">:</td>
			<td width="400px">{{ entity.destino}}</td>
			
		</tr>
		<tr> 
			<td height="25px" >DE</td>
			<td >:</td>
			<td >L-TOKIO</td>
		</tr>
		<tr> 
			<td height="25px" width="100px">ASUNTO</td>
			<td width="20px">:</td>
			<td width="400px">{{ entity.asunto}}</td>
			
		</tr>
		<tr> 
			<td height="25px">FECHA</td>
			<td >:</td>
			<td >{{ entity.fecha|date('d/m/Y')}}</td>
		</tr>
		<tr> 
			{% if entity.ferencia=='' %}
			<td></td>
			{% else %}
			<td height="25px">REFERENCIA</td>
			<td >:</td>
			<td >{{ entity.ferencia }}</td>
			{% endif %}
		</tr>		
	</table>
	<p></p>
	<table border="1px">
		<tr> 
			<td class="centrado" width="100px">DESCRIPCIÓN</td>
			<td class="centrado" width="250px">SUMILLA</td>
			<td class="centrado" width="80px">ORIGEN</td>
			<td class="centrado" width="80px">DESTINO</td>			
		</tr>
		<tr> 
			<td height="100px">
				{{ entity.descripcion|nl2br}}
			</td>
			<td class="medio">{{ entity.sumilla|nl2br}}</td>
			<td class="centrado">L-TOKIO</td>
			<td class="centrado">{{ entity.destino}}</td>
		</tr>
	</table>
	<p></p>
	{% if (entity.observaciones|length<1)  %}<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
			<p align="center">Elard Escala<br>Embajador del Perú en Japón</p>


	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<div class="gestor"><font size="10">
{{ entity.ucreado}}</font></div>
	{% elseif entity.sumilla|length + entity.observaciones|length > 500 %}
	<p><strong>OBSERVACIONES:</strong></p>
	<p>{{ entity.observaciones }}</p>
	<p></p>

			<p align="center">Elard Escala<br>Embajador del Perú en Japón</p>
	<p></p>
	<div class="gestor"><font size="10">
{{ entity.ucreado}}</font></div>	
	{% else %}

	<p><strong>OBSERVACIONES:</strong></p>
	<p>{{ entity.observaciones }}</p>
	<p></p>
	<p></p>
	<p></p>

			<p align="center">Elard Escala<br>Embajador del Perú en Japón</p>
	<p></p>
	<p></p>
	<p></p>
	
{{ entity.ucreado}}</font></div>	
	{% endif %}

</body>
</html>
