<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- Apple devices fullscreen -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Apple devices fullscreen -->
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <title>{% block title %}Sistema Informático de Administración {% endblock %} | www.embajadadelperuenjapon.org</title>

   <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/bootstrap.min.css')}}">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/bootstrap-responsive.min.css')}}">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/plugins/jquery-ui/smoothness/jquery-ui.css')}}">
    <!-- chosen -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/plugins/chosen/chosen.css')}}">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/style.css')}}">
    <!-- Color CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/themes.css')}}">
    <!-- Datepicker -->
	<link rel="stylesheet" href="{{ asset('bundles/notas/css/plugins/datepicker/datepicker.css')}}">
    <!-- jQuery -->
    <script src="{{ asset('bundles/notas/js/jquery.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <!-- Chosen -->
    <script src="{{ asset('bundles/notas/js/plugins/chosen/chosen.jquery.min.js')}}"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('/Siame/web/img/favicone.ico')}}" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="{{asset('/Siame/web/img/apple-touch-icon-precomposed.png')}}" />
    <!-- timepicker -->
    <link rel="stylesheet" href="{{ asset('bundles/notas/css/plugins/timepicker/bootstrap-timepicker.min.css')}}">
    {% block stylesheets %}

  	{% endblock %}


</head>
<body>
    <div id="navigation">
        <div class="container-fluid">
            <a href="#" id="brand">SIAME</a>
            <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
            <ul class='main-nav'>
                <li>
                    <a href="">
                        <i class="icon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                        <i class="icon-edit"></i>
                        <span>Documentos</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Notas a Gaimusho</a>
                        </li>
                        <li>
                            <a href="{{ path('Memoi') }}">Memorandum</a>
                        </li>
                    </ul>
                </li>

                <li >
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                        <i class="icon-table"></i>
                        <span>RRHH</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('personal') }}">Empleados</a>
                        </li>
                        <li>
                            <a href="{{ path('vacaciones') }}">Vacaciones</a>
                        </li>
                        <li>
                            <a href="{{path('vacaciones_vista')}}">Vista General</a>
                        </li>
                        <li>
                            <a href="{{path('vacaciones_new')}}">Solicitar Vacaciones</a>
                        </li>
                        <li>
                            <a href="{{path('compensatorios')}}"> Registro Compensatorios</a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                        <i class="icon-th-large"></i>
                        <span>Valija</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('Oficios') }}">Oficios</a>
                        </li>
                        <li>
                            <a href="{{ path('hremision') }}">Hojas de Remision</a>
                        </li>
                        <li>
                            <a href="{{ path('valija') }}">Guia de Valija</a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                        <i class="icon-th"></i>
                        <span>Paginas</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('Libros') }}">Libros</a>
                        </li>
                        <li>
                            <a href="">Inventario</a>
                        </li>
                        <li>
                            <a href="">Actividades</a>
                        </li>
                        <li>
                            <a href="">Calendario</a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
            <div class="user">
                <div class="dropdown">
                    <a href="#" class='dropdown-toggle' data-toggle="dropdown">{{ app.user }}<img src="" alt=""></a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="">Editar perfil</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>            
{% block body %}{% endblock %}            


    <!-- Nice Scroll -->
    <script src="{{ asset('bundles/notas/js/plugins/nicescroll/jquery.nicescroll.min.js')}}"></script>
    <!-- jQuery UI -->
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.core.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.widget.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.mouse.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.draggable.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.resizable.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.sortable.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/jquery-ui/jquery.ui.spinner.js')}}"></script>
    <!-- Touch enable for jquery UI -->
    <script src="{{ asset('bundles/notas/js/plugins/touch-punch/jquery.touch-punch.min.js')}}"></script>
    <!-- slimScroll -->
    <script src="{{ asset('bundles/notas/js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('bundles/notas/js/bootstrap.min.js')}}"></script>
    <!-- Bootbox -->
    <script src="{{ asset('bundles/notas/js/plugins/bootbox/jquery.bootbox.js')}}"></script>
    <!-- dataTables -->
    <script src="{{ asset('bundles/notas/js/plugins/datatable/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/datatable/TableTools.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/datatable/ColReorder.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/datatable/ColVis.min.js')}}"></script>
    <script src="{{ asset('bundles/notas/js/plugins/datatable/jquery.dataTables.columnFilter.js')}}"></script>
    <!-- Datepicker -->
    <script src="{{ asset('bundles/notas/js/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <!-- Theme framework -->
    <script src="{{ asset('bundles/notas/js/eakroko.js')}}"></script>
    <!-- Theme scripts -->
    <script src="{{ asset('bundles/notas/js/application.js')}}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>