{#% include 'YepsuaSmarTwigBundle::smartwigAssets.html.twig' %#}
{% extends "::base8.html.twig" %}

{% block body%}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td>{{ entity.nombres }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.apellidos }}</td>
        </tr>
        <tr>
            <th>Fechadenacimiento</th>
            <td>{{ entity.fechadenacimiento|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Fechadeingreso</th>
            <td>{{ entity.fechadeingreso|date('Y-m-d') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('personal') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('personal_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('personal_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock body %}