{% extends "::base8.html.twig" %}
{% block body %}
	<script src="{{ asset('bundles/notas/js/plugins/ckeditor/ckeditor.js') }}"></script>
<div class="row-row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-list"></i>Memorandum Interno</h3>
			</div>
		</div>
		<div class="box-content">
			<form action="{{ path('Memoi_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}
    		<div>
	    		<div class="span2">
	    			{{ form_errors  (form.numerodememo) }}
	    			{{ form_label  (form.numerodememo, 'Numero de Memo') }}
	    			{{ form_widget (form.numerodememo, { 'attr': {
	                    'class':"input-small",}}
	                        )}}
	            </div>
	            <div class="span3">
	                {{ form_errors  (form.remitente) }}
	    			{{ form_label  (form.remitente) }}
	    			{{ form_widget (form.remitente) }}
	    		</div>
	            <div class="span3">
	                {{ form_errors  (form.destinatario) }}
	    			{{ form_label  (form.destinatario) }}
	    			{{ form_widget (form.destinatario) }}
	    		</div>
	            <div class="span3">
	                {{ form_errors  (form.clasificacion) }}
	    			{{ form_label  (form.clasificacion) }}
	    			{{ form_widget (form.clasificacion) }}
	    		</div>
	    	</div>
    		<div class="span12">
    			{{ form_errors  (form.asunto) }}
    			{{ form_label  (form.asunto, 'Asunto') }}
    			{{ form_widget (form.asunto, { 'attr': {
                    'class':"input-block-level",}}
                        )}}
            </div>
            <div class="span12">
            <br>
        		<button class="btn btn-primary"type="submit"><i class="icon-save"></i> Guardar</button>
        		<a class="btn btn-inverse" href="{{ path('Memoi') }}"><i class="icon-reply"></i>
	             Regresar
	        	</a>
    		</br>
            </div>
    		{#{ form_widget(form) }#}
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

$(function() { 
	CKEDITOR.replace( 'embajada_documentosbundle_memoitype_cuerpo', {
	toolbarGroups: [		// Displays document group with its two subgroups.
	 		{ name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },			// Group's name will be used to create voice label																// Line break - next group will be placed in new line.
	 		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
	{ name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
		
	{ name: 'tools', items: [ 'Maximize' ] },
		]// NOTE: Remember to leave 'toolbar' property with the default value (null).
	});
	});

 </script>

{% endblock body %}