{% extends "::base8.html.twig" %}
{% block body %}
<!-- CKEditor -->
<script src="{{ asset('bundles/notas/js/plugins/ckeditor/ckeditor.js') }}"></script>
<div class="row-row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-list"></i>Crear Otro Item para Valija</h3>
			</div>
		</div>
		<div class="box-content">
			<form action="{{ path('otros_create') }}" method="post" {{ form_enctype(form) }}>
   			 

	                {{ form_errors  (form.destinatario) }}
	    			{{ form_label  (form.destinatario) }}
	    			{{ form_widget (form.destinatario)}}

	                {{ form_errors  (form.fecha) }}
	    			{{ form_label  (form.fecha) }}
	    			{{ form_widget (form.fecha, { 'attr': {
	                    'class':"input-small datepick",}}
	                    )}}
	    			{# Atributos
	    			, { 'attr': {
	                    'class':"input-block-level",}}
	                ui-spinner ui-widget ui-widget-content ui-corner-all
	                'class':"input-small datepick",
	                ,'date', array('widget' => 'single_text','format' => 'dd/MM/yyyy'
            ))
	                #}


	                        
            {{ form_widget(form) }}
            {{ form_widget(form._token) }}	
            <div class="span12">
            <br>
        		<button class="btn btn-primary"type="submit"><i class="icon-save"></i> Guardar</button>
        		<a class="btn btn-inverse" href="{{ path('otros') }}"><i class="icon-reply"></i>
	             Regresar
	        	</a>
    		</br>
            </div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}

