    <head>  
  <style>
body{
    margin: 0;
}
li{
    text-decoration: none;
}
    .sangria {  
        text-indent: 50px;
        text-align: justify;
    }
    p{
        font-family: Arial;
        font-size: 11;
    }
    #piedepagina{
    position:relativa;
    top:200px;
    left: 50px;
    width: 300px;

    }

  </style>  
</head> 
    <figure>
        <img src="{{ pdf_image('NotasBundle:logoembajadaes.jpg') }}" width="140" height="85">
     <figure>
            
            <p style="text-align:right;"><strong>Tokio, {{ entity.fecha|fecha ('long','none','es')}}</strong></p><p></p>
            {% if entity.clasificacion|upper =='ABIERTO' %}
                <table style="width:185px">
                    <tr>
                        <td>
                    <p>Oficio Nro 5-18-A/{{ entity.numerodeoficio }} ({{ entity.destino }})<hr>{{ entity.asunto }}.<hr>Ref {{ entity.referencia }}</p>
                        </td>
                    </tr>
                </table>
            {% else %}
                <table style="width:185px">
                    <tr>
                        <td>
                    <p>Oficio Nro 5-18-YY/{{ entity.numerodeoficio }} ({{ entity.destino }})<hr>{{ entity.asunto }}.<hr>Ref {{ entity.referencia }}</p>
                        </td>
                    </tr>
                </table>
            {% endif %}
            <p></p>
            <table >
                <tr>
                    <td style="width:100px">
                    </td>                    
                    <td>
                        <p><strong>Señora<br>Ministra de Estado en el<br>Despacho de Relaciones Exteriores<br>Lima
                            </strong>
                        </p>
                    </td>
                </tr>                
                <tr>
                    <td style="width:100px">
                    </td>
                    <td style="width:375px">
                    <p class="sangria">{{ entity.cuerpo| raw }}</p>
                    </td>
                </tr>
            </table>
            <br>
            <p style="text-align:center">Dios guarde a usted</p>
            <br>
            <br>
            <p style="text-align:center">Elard Escala<br>Embajador</p>            




