{% extends "::base8.html.twig" %}
{% block body %}
<style>
.rojo{
    color: red;
}
#centrado{
    text-align: center;
}
.icon-minus-sign{
    color:red;
    font-size: 20px;
}
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered green">
            <div class="box-title">
                <h3><a class="btn btn-success" href="{{ path('compensatorios_new') }}"><i class="icon-plus-sign"></i>Solicitar Registro de dias u horas de Compensatorio </a></h3>
            </div>
        </div>
        <div class="box-content nopadding">
            <table class="table table-hover table-nomargin table-striped dataTable dataTable-reorder">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Nro. de registros</th>
                        <th>Fecha de solicitud</th>
                        <th>Fecha de aprobado</th>
                        <th id="centrado">Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td style="font-size:20px"><a class="rojo" target="_blank" href="{{ path('compensatorios_pdf', { 'id': entity.id }) }}"><i class="icon-file"></i></a></td>
                        <td>{{entity.ucreado.name}} {{entity.ucreado.apellidos}}</td>
                        <td>{{ entity.diasdecompensatorio }}</td>
                        <td>{% if entity.fechadesolicitud %}{{ entity.fechadesolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.fechadeaprobado %}{{ entity.fechadeaprobado|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td id="centrado">
                            {% if entity.estado==2 %}
                                <i class="icon-minus-sign"></i>
                            {% endif %}
                            {% if entity.estado==1 %}
                            <i style="color:green; font-size:20px" class="icon-ok-sign"></i>
                            {% endif %}
                            {% if entity.estado==0 %}
                                <i style="color:peru; font-size:20px" class="icon-time "></i>
                            {% endif %}
                        </td>
                        <td>
                            <a class="rojo" href="{{ path('compensatorios_edit', { 'id': entity.id }) }}">editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
