<h1>Eventos</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Lugar</th>
            <td>{{ entity.lugar }}</td>
        </tr>
        <tr>
            <th>Funcionarioencargado</th>
            <td>{{ entity.funcionarioencargado }}</td>
        </tr>
        <tr>
            <th>Numerodeasistentes</th>
            <td>{{ entity.numerodeasistentes }}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{ entity.fecha|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Hora</th>
            <td>{{ entity.hora|date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Epli</th>
            <td>{{ entity.epli }}</td>
        </tr>
        <tr>
            <th>Eiti</th>
            <td>{{ entity.eiti }}</td>
        </tr>
        <tr>
            <th>Ecyi</th>
            <td>{{ entity.ecyi }}</td>
        </tr>
        <tr>
            <th>Err</th>
            <td>{{ entity.err }}</td>
        </tr>
        <tr>
            <th>Pfuncionarios</th>
            <td>{{ entity.pfuncionarios }}</td>
        </tr>
        <tr>
            <th>Padministrativos</th>
            <td>{{ entity.padministrativos }}</td>
        </tr>
        <tr>
            <th>Tipodeusoauditorio</th>
            <td>{{ entity.tipodeusoauditorio }}</td>
        </tr>
        <tr>
            <th>Numerodesillas</th>
            <td>{{ entity.numerodesillas }}</td>
        </tr>
        <tr>
            <th>Numerodemesas</th>
            <td>{{ entity.numerodemesas }}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{ entity.tipo }}</td>
        </tr>
        <tr>
            <th>Mozos</th>
            <td>{{ entity.mozos }}</td>
        </tr>
        <tr>
            <th>Otrosmozos</th>
            <td>{{ entity.otrosmozos }}</td>
        </tr>
        <tr>
            <th>Empresasdemozos</th>
            <td>{{ entity.empresasdemozos }}</td>
        </tr>
        <tr>
            <th>Nombrepersonaldeapoyo</th>
            <td>{{ entity.nombrepersonaldeapoyo }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('eventos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('eventos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('eventos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
